<launch> 
	<node pkg="pi_plattform" type="encoder_node" name="left_encoder" output="screen">
		<rosparam> pinA: 7 </rosparam>
		<rosparam> pinB: 0 </rosparam>
		<rosparam> gearRatio: 1500.0 </rosparam>
		<rosparam> wheelRadius: 0.0326 </rosparam>
	</node>

	<node pkg="pi_plattform" type="encoder_node" name="right_encoder" output="screen">
		<rosparam> pinA: 2 </rosparam>
		<rosparam> pinB: 3 </rosparam>
		<rosparam> gearRatio: 1500.0 </rosparam>
		<rosparam> wheelRadius: 20.5 </rosparam>
	</node>

	<node pkg="pi_plattform" type="motor_node" name="motor_left"> 
		<rosparam> pinA: 13 </rosparam>
		<rosparam> pinB: 14 </rosparam>
		<rosparam> pinPWM: 12 </rosparam>
	</node>
	<node pkg="pi_plattform" type="motor_node" name="motor_right"> 
		<rosparam> pinA: 21 </rosparam>
		<rosparam> pinB: 22 </rosparam>
		<rosparam> pinPWM: 23 </rosparam>
	</node>
	
	<node pkg="pi_plattform" type="motorcontroll_node" name="motorcontroll_left"> 
		<rosparam> side: left </rosparam>
	</node>
	<node pkg="pi_plattform" type="motorcontroll_node" name="motorcontroll_right"> 
		<rosparam> side: right </rosparam>
	</node>
</launch>
